*{
    margin: 0;
    padding: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800|Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');

body{
  font-family: "Muli",sans-serif;
  background-color: #f2f3f2;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    font-family: "Nunito",sans-serif;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin: 15px;
  font-family: 'Barlow Condensed', sans-serif;
}

/* navbar */

.header img{ 
  height: 65px;
}

.header{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2%;
  background: #f2f3f2; 
}
.header .navbar{
  margin-left: auto!important;
}
.header .navbar a{
   font-size: 18px;
   font-family: 'Barlow Condensed', sans-serif;
   color:#000;
   border-radius: .5rem;
   padding: 10px;
   margin-left:6px ;
}
.header .navbar a.active,
.header .navbar a:hover{
  color:#EDB518;
  /* background:  #EDB518; */
}

.header .icons div{
  /* height: 2.5rem; */
  width: 4.0rem;
  /* line-height: 2.5rem; */
  border-radius: .5renm;
  color: #000;
  font-size:19px;
  margin-right: .2rem;
  text-align: center;
  cursor: pointer;
}
.header .icons div:hover{
  background-color:#fff;
  color:#EDB518;
  border: 1px solid #EDB518;
  padding: 5px; 
  border-radius: .9rem;  
}

#menu-btn{
  display:none;
} 

@media(max-width:991px){
  html {
      font-size: 55%;
  }
.header{
 
   padding: 2rem;
}

}

@media(max-width:768px){
  #menu-btn{
      display: inline-block;
  }
  .header .search-form{
      width: 40rem;
  }
  .header .icons div{
 
      margin: 5px;
  }
  .header .navbar{
      position: absolute;
      top: 100%;
      left: -100%;
      display: block;
      width:100%;
      box-shadow: var(--box-shadow);
      background: #f2f3f2; 
   

  }
  
  .header .navbar.active{
      left: 0;
      transition: .4s linear;

  }

  .header .navbar a{

      /* text-align: center; */
      border-top: 1px ridge  #bbb;
      font-size: 2rem;
      margin: 0;
      display: block; 
       padding: 10px 35px ;  
       
       
  }
  
  .header .navbar a.active,
  .header .navbar a:hover{
     color: #000;
      background: none;
       margin-left:2px ;
  }
  .header .navbar a:hover{
      background: #edb418ad;
      color: #fff;
  }
  
}



/* slider */
/* 

.mySlides {display:none;}
.w3-section {
  width: 100%;
  margin-top: 0px !important;
}
.w3-section img{
 max-width: 100%;
 max-height: 110vh;
}
.w3-content{
  max-width: 100% !important;
  
} */

/* about us */



#about-main {
  margin: 30px;
}
#about-main .row {
  margin-left: 0;
  margin-right: 0;
}
#about-main .jumbotron {
  padding-top: 30px;
  width: 100%;
  position: relative;
  /* margin-bottom: 20px; */
  z-index: 3;
  border-radius: 0px;
}
#about-main .row-item{
  display:flex;
  margin-left: 10px;
}
#about-main .statement{
  margin-left: 10px;
  display:inline-flex;
  
}
#about-main .statement img{
 height: 30px;
 margin-right: 15px;
 margin-top: 8px;
}
#about-main .statement-texts p{
  color: #000;
  text-transform: lowercase;
  margin: 15px 0px;
  font-size: 18px;
}
 #about-main .statement-texts h3{
  color: #000;
  font-size: 30px;
  margin:0px ;
  font-weight: 500;
}
  

#about-main .btn {
  background-color: #EDB518;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
 
  transition: 0.3s;
  
}

#about-main .btn:hover {

  background-color: #d2a619;
}
#about-main .jumbotron .jumbotron-inner {
  max-width: 1550px;
  margin: 0 auto;
}
#about-main .jumbotron .jumbotron-inner a {
  text-decoration: none;
}
#about-main .jumbotron .jumbotron-inner .top-box {
  /* max-width: 950px; */
  margin: 0 auto;
}
#about-main .jumbotron .jumbotron-inner .top-box .content-box {
  text-align: center;
  /* margin-top: 30px; */
  margin-bottom: 50px;
}

#about-main .jumbotron .jumbotron-inner .top-box .content-box h1 {
  text-align: center;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
#about-main .jumbotron .jumbotron-inner .top-box .content-box p {
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 15px;
}
#about-main .jumbotron .jumbotron-inner .top-box .content-box .read-more-btn {text-align: center;padding: 0px;}
@media (max-width: 1401px) {

  #about-main .jumbotron {
    /* height: 750px !important; */
    padding-top: 10px;
  }

  #about-main .jumbotron .jumbotron-inner {
    max-width: 900px;
  }
  #about-main .jumbotron .jumbotron-inner .top-box {
    max-width: 900px;
  }
  #about-main .jumbotron .jumbotron-inner .top-box .content-box {
    text-align: center;
    /* margin-top: 30px; */
    margin-bottom: 50px;
  }
  #about-main .jumbotron .jumbotron-inner .top-box .content-box h3 {
    font-size: 35px;
    margin: 5px 0px 20px 0px;
    color: #6f7782;
    font-weight: 300;
  }
}
@media (max-width: 1000px) {
  #about-main .jumbotron .img-layer-container {
    width: 100%;
  }
}
@media (max-width: 815px) {
  #about-main .jumbotron .jumbotron-inner {
    max-width: 600px;
  }
}
@media (max-width: 640px) {
  #about-main .statement {
    flex-wrap: wrap;
}
  #about-main .jumbotron {
    height: auto !important;
    padding-top: 10px;
  }
  #about-main .row-item{
    display:flex;
    flex-wrap: wrap;
  }
  #about-main .jumbotron .jumbotron-inner {
    max-width: 550px;
    padding: 0 20px;
  }
  #about-main .jumbotron .img-1, #about-main .jumbotron .img-2, #about-main .jumbotron .team-image {
    display: none;
  }
}
@media (max-width: 420px) {
  #about-main .jumbotron .jumbotron-inner {
    max-width: 600px;
    padding: 0 10px;
  }
}
@media (max-width: 400px) {
  #about-main .jumbotron .jumbotron-inner .top-box .content-box {
    text-align: center;
    margin: 30px 0;
  }
  #about-main .jumbotron .jumbotron-inner .top-box .content-box h1 {
    font-size: 35px;
  }
  #about-main .jumbotron .jumbotron-inner .top-box .content-box p {
    font-size: 16px;
  }
}
#about-main .story-container {
  height: 100%;
  width: 100%;
  margin-top: 150px;
}
@media (max-width: 640px) {
    
#about-main {
  margin: 5px;
}
  #about-main .story-container {
    margin-top: 80px;
  }
}
#about-main .story-container .container-divider {
  margin-top: 100px;
}
@media (max-width: 640px) {
  #about-main .story-container .container-divider {
    margin-top: 50px;
  }
  
}
#about-main .story-container .need-for-dx-container, #about-main .story-container .our-tech-container, #about-main .story-container .origin-story-container, #about-main .story-container .today-container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 815px) {
  #about-main .story-container .need-for-dx-container, #about-main .story-container .our-tech-container, #about-main .story-container .origin-story-container, #about-main .story-container .today-container {
    width: 100%;
  }
}
#about-main .story-container .need-for-dx-container .img-container, #about-main .story-container .our-tech-container .img-container, #about-main .story-container .origin-story-container .img-container, #about-main .story-container .today-container .img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#about-main .story-container .need-for-dx-container .img-container img, #about-main .story-container .our-tech-container .img-container img, #about-main .story-container .origin-story-container .img-container img, #about-main .story-container .today-container .img-container img {
  margin: 50px auto;
}
#about-main .story-container .need-for-dx-container h3, #about-main .story-container .our-tech-container h3, #about-main .story-container .origin-story-container h3, #about-main .story-container .today-container h3 {
  color: #074e8c;
}
#about-main .story-container .need-for-dx-container p, #about-main .story-container .our-tech-container p, #about-main .story-container .origin-story-container p, #about-main .story-container .today-container p {
  font-size: 15px;
  margin-top: 20px;
  color: #676a6c;
}
@media (max-width: 640px) {
  #about-main .story-container .need-for-dx-container p, #about-main .story-container .our-tech-container p, #about-main .story-container .origin-story-container p, #about-main .story-container .today-container p {
    font-size: 13px;
  }
}
#about-main .story-container .need-for-dx-container ul, #about-main .story-container .our-tech-container ul, #about-main .story-container .origin-story-container ul, #about-main .story-container .today-container ul {
  margin-top: 30px;
  list-style-image: url("https://apimatic.io/img/theme/aboutUs/bullet.svg");
}
#about-main .story-container .need-for-dx-container ul li, #about-main .story-container .our-tech-container ul li, #about-main .story-container .origin-story-container ul li, #about-main .story-container .today-container ul li {
  line-height: 25px;
  padding-left: 5px;
  color: #676a6c;
}

/* request */

.section .wrapper {
  margin: 0 auto;
  width: 96%;
  max-width: 1120px;
}

.section {
  padding: 30px 0 ;
}
.section__title {
  font-size: 24px;
  color: #000066;
  text-align: center;
  margin: 14px 0;
}
.section__intro {
  display: block;
  text-align: center;
  margin: 0 5% 30px;
}
/* .section article:hover{
  box-shadow: 0 3px 0 #3c377b;
} */
@media only screen and (min-width: 43.75em) {
  .section__intro {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.section--cta {
  color: #454545;
  background: #f1f1f1;
}

.section .box {
  display: flex;
  flex: 1 0 100%;
  margin-bottom: 20px;
  background: #fff;
}
.section .box__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section .box__title {
  color: #074e8c;
  font-weight:800;
  font-size: 20px;
}
.section .box__more {
  color: #EDB518;
  border: 1px solid #EDB518;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5rem;
}
.section .box__content {
  color: #000;
  text-align: center;
  padding: 20px;
}

.section .box__content p{
 padding-bottom: 20px;
 font-size: 18px;
}
.section .box__content > img {
  color: #3b3b58;
  height: 50px;
}
a .box__more:hover  {
  color: #fff;
}
a .box__more:hover{
  transition: all 0.2s ease-in-out;
}
.section a .box__more:hover {
  background-color: #EDB518;
  transition: all 0.3s ease-out;
  color: #fff;
  border: 2px solid #eee;
 
}
@media only screen and (min-width: 43.75em) {
  .section .box {
    flex: 0 0 32%;
  }
}





/* video */

.videos-gallery{

  background-color: #29465B;
  padding: 50px;
}
.videos-gallery h3{
  margin: 40px;
  position: relative;
  font-size: 40px;
text-align: start;
}

.videos-gallery h3::before{
  content: '';
  position: absolute;
  height: 120%;
  width: 7px;
  left: -10px;
  margin-right: 40px;
  top: 50%;
  background: #EDB518;
  transform: translateY(-50%);

}


.videos-gallery .carousel.pointer-event {
    width: 70%;
    margin: 0 auto;
   
}

iframe,
video{
  width: 100%;
  height: 415px;
 
}


.videos-image{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0;
}
.videos-image .img-pic{
  padding: 10px;
  border-radius: 0.6rem;
  background-color: #fff;
  color: #000;
  margin: 0 auto;
    
}
.videos-image .pointer-event{
  margin-top: 50px;
}

.videos-image .img-pic iframe{
 border-radius: 0.9rem 0.9rem 0 0;
}
.videos-image .img-pic h6{
  color: #000;
  font-size: 17px;
  font-weight: 500;
  
}
.videos-image .img-pic h5{
  color: #000;
  font-size: 20px;
  font-weight: 600;
}



.carousel-control-next, .carousel-control-prev {
  padding-top: 10px;
    background-color: #000;
   top: 1px;
   bottom: auto;
}

.videos-image .img-pic img{
  object-fit: cover;
  max-height: 235px;
}
.videos-image .img-pic .watch{
 margin: 10px;
}
.videos-image .img-pic button.landingPage__button {
  background-color: #DC9A00;
  border: none;
  color: white;
  padding: 16px 32px;
  float: right;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 0.9rem;
  transition: 0.4s ease-out;
}

.videos-image .img-pic button.landingPage__button a{
 color: #fff;
}
.videos-image .img-pic button.landingPage__button:hover {
  background-color: #d2a619;
}

.videos-image .img-pic span.landingPage__buttonArrow {
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {
  .videos-image .img-pic img{
    object-fit: cover;
    max-width: 100%;
    width: 500px;  
  }
  .videos-gallery .carousel.pointer-event {
    width: 100%;
    margin: 0 ;
}

  iframe,
video{
  width: 100%;
  height: 250px;
  margin-top: 20px;
 
}


.carousel.pointer-event {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.videos-gallery h3{
 
  font-size: 25px;

}

.videos-gallery h3::before{
  height: 120%;
}
}

/* new video carousel */
   
   
   

/* image */

.gallery-name{
  text-align: center;
  font-family: sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 35px;

margin-bottom: 8px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#myImg:hover {
cursor: pointer;
}
.gallery-pic{
  margin: 10px; ;
}

.desc, #caption {
  text-align: center;
  font-family: sans-serif;
}



@media only screen and (max-width: 480px) {
  .gallery-pic img{
    object-fit: cover;
    max-width: 100%; 
  }

} 




/* event */
.events{
  padding: 30px;
  background-color: #29465B;
  margin-bottom: 50px;
}
.events h3{
  margin: 20PX;
  font-size: 40px;
}
.events-item{

padding: 20px;
 
}

.events-item .layer1{
 margin-left: 40px   ;
  color: #fff;
  position: relative;
}

.events-item .btn-events a button{
  background-color: #DC9A00;
  border: 1px ridge #fff;
  color: white;
  padding: 5px 15px ;
  float: right;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 0.5rem; 
}

.events-item .layer1 ::before{
  content: '';
  position: absolute;
  height: 120%;
  width: 7px;
  left: -10px;
  margin-right: 40px;
  top: 50%;
  background: #DC9A00;
  transform: translateY(-50%);

}
.events-block{
 
  justify-content: space-around;

 
}

.events-block .block-items{
  display: flex;
  margin:  19px 15px;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
 border-bottom: 1px ridge #DC9A00;

 
}

.events-block .block-items .sub-item .sub{ 
 margin-left: 30px;
}
.events-block .block-items .sub-item .sub h3{
font-size: 35px;
}
.events-block .block-items .sub-item .sub h6{
  font-size: 20px;
  }
   
 
@media only screen and (max-width: 740px) {
  .events-block .block-items{ 
 display: block;
 margin-left: 0;
 margin-bottom: 50px;
 border: none;
   }
   .events-block .block-items img{
    max-height: 100px;
    max-width: 150px;
    
   }
   .events-block .block-items .sub-item .sub{ 
    margin-left: 15px;
   }
   .events-block .block-items .sub-item .sub h3{
    font-size: 20px;
    }
    .events-block .block-items .sub-item .sub h6{
      font-size: 15px;
      }
       
   

}

.events-block .block-items .btn-events{
  float: right;
  justify-content: space-evenly;
}


.events-block .block-items .btn-events a button{
  padding: 12px 25px;
  background-color: #DC9A00;
  color: #fff;
  float: right;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 0.9rem; 

  position: relative;
  
}

.events-block .block-items .btn-events a button:hover {
  background-color: #EDB518;
  transition: all 0.2s ease-in-out;
}
  

.events-block .block-items img{
 height: 350px;
 object-fit: cover;
}
.events-block .block-items .sub-item{
 display: flex;
  margin-left: 8px;
  align-items: center;
}


/*blog-area*/
.blog-area { background: url(../images/bg-building.jpg) repeat-x;padding: 30px 0;background-position: bottom;animation-name: motion2;animation-duration: 100s;animation-iteration-count: infinite;animation-timing-function: linear;background-size: 100%;}
.blogs-item {width: calc(100%/3 - 30px);float: left;margin: 0 15px; transition: all 0.25s}
.blogs:after {content: '';display: block;clear: both;}
.blog-img .blog-time .blog-month {font-size: 12px;line-height: normal;letter-spacing: 0.5px; font-weight: 500;}
.blog-img .blog-time .blog-date {font-size: 22px;line-height: normal;font-weight: 600;}
.blog-img .blog-time {position: absolute;height: 50px;width: 50px;background: #3c377b;top: 10px;left: 10px;text-align: center;color: #fff;text-transform: uppercase;line-height: normal;margin: 0;}
.blog-img {position: relative;}
.blog-detail{padding: 20px 25px;border: 1px solid #eee;position: relative;overflow: hidden;-webkit-transition: border .4s;-moz-transition: border .4s;-ms-transition: border .4s;transition: border .4s; background: #fff; z-index: 0;}
.blogs-item:hover .blog-detail:after {left: 0;bottom: 0;-webkit-transform: scale(15) translateZ(0);-moz-transform: scale(15) translateZ(0);-ms-transform: scale(15) translateZ(0);-o-transform: scale(15) translateZ(0);transform: scale(15) translateZ(0);}
.blog-detail h4 a {color: #202020;}
.blog-detail h4 {font-size: 18px;line-height: 30px;text-transform: capitalize;font-weight: 500; margin: 0;}
.blog-detail ul li a {color: #676767;}
.blog-detail ul li {font-size: 11px;line-height: 12px;text-transform: uppercase;border-right: 1px solid #e0e0e0;padding-right: 10px;display: inline-block;}
.blog-detail ul {list-style: none;padding: 0;}
.blog-detail ul li:last-child {border: 0; padding-right: 0;}
.blog-detail p {line-height: 25px;font-size: 16px;letter-spacing: .5px;color: #878787;margin: 0;}
.blogs-item .blog-img img {filter: grayscale(0);}
.blogs-item:hover .blog-img img {filter: grayscale(1);}
.blogs {padding: 20px 0;}
.blog-area {padding: 30px 0;}
.read-more-btn a {padding: 10px 25px;display: inline-block;color: #666;border: 1px solid #666;letter-spacing: 1px;text-transform: uppercase;font-weight: 500;box-shadow: 0 3px 0 transparent;transition: 0.3s ease;}
.read-more-btn a:hover {background: #EDB518;border-color: #EDB518;color: #fff;box-shadow: 0 3px 0 #000026;}
.read-more-btn {text-align: center;padding: 30px 0 10px;}
.blog-img img{ max-width:100%; height:auto;}
/*end*/
.heading h2 {position: relative;font-weight: 600;font-family: 'Dosis', sans-serif;text-transform: uppercase;padding: 0 0 10px;color: #231f20;}
.heading h2:before {position: absolute;content: '';height: 1px;width: 150px;background: #ffbe00;left: 0;right: 0;bottom: 1px;margin: auto;}
.heading h2:after {content: '';height: 3px;width: 50px;background: #DC9A00;position: absolute;left: 0;right: 0;margin: auto;bottom: 0;}
.heading p {color: #878787;}
.heading {text-align: center;padding: 20px 0;max-width: 750px;margin: 0 auto;}
/*hover*/
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:active, .hvr-float-shadow:focus, .hvr-float-shadow:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center,ellipse,rgba(0,0,0,.35) 0,transparent 80%);
    background: radial-gradient(ellipse at center,rgba(0,0,0,.35) 0,transparent 80%);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform,opacity;
    transition-property: transform,opacity;
}

.hvr-float-shadow:active:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:hover:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

/*media*/






@media (max-width:991px){
    .blogs-item {width: calc(100%/2 - 30px);margin: 0 15px 30px;}
}


@media (max-width:767px){
    .blogs-item {width: 100%;margin: 0 auto 30px;max-width: 470px;display: block;float: none;}
    .read-more-btn {padding: 0 0 10px;}
}

@media (max-width:400px){
    .blog-detail {padding:20px;}
}

/* footer */

.footer {
  text-transform: capitalize;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: auto;
  background-color: #29465B;
  font-family: 'Barlow Condensed', sans-serif;
}
.footer .contain{
  display: block;

}
.footer .contain .contain-display{
 padding: 30px 18px 0 5px; 
text-align: center;
}
.footer .contain .contain-items{
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}
.footer .col-img img{
  height: 40px;
  margin: 0 0 0 18px ;
  align-items: center;

}
.footer .col-image a img{
  height: 80px;
   margin-bottom: 15px;
}
.footer_idea{
  display:flex;
  justify-content: center;
}
.footer .col {
  float: right;

  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col2 {
  margin-bottom: 15px;
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.footer .col3 {
  float: right;
display: flex;
align-items: center;
font-size: 16px;
/* padding: 10px; */
}
.footer .col3 p{
  color: #f5f5f5;
  margin: 0;
  
}
.footer .col h1 {
      padding: 0;
      font-size: 20px; 
      color: rgba(255, 255, 255);
      font-weight: normal;
      text-transform: uppercase;
      
}
.footer .col2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.footer .col2 ul li{
  color: #f5f5f5;
  font-size: 16px;
  
  text-align: center;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li a{
  color: #f5f5f5;
  font-size: 15px;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.social ul li a{
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li a:hover {
 text-decoration:underline ;
}
.clearfix {
  clear: both;
}
.copyright p{
  margin: 0;
  border-top:1px ridge #f4f4f4 ;
 text-align: center;
 color: #f3f3f3;
 padding-top: 10px 0 0 0;
}



#footer-socials {
  text-align: right;
}

#footer-socials .socials {
  text-align: right;
  margin: 0 -7px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

a.socials-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 5px;
  line-height: 16px;
  padding: 10px;
  border-radius: 50%;
  background-color: #141421;
  border: 1px solid #2e2e4c;
  box-shadow: 3px 9px 16px rgb(0,0,0,0.4), -3px -3px 10px rgba(255,255,255, 0.06), inset 14px 14px 26px rgb(0,0,0,0.3), inset -3px -3px 15px rgba(255,255,255, 0.05);
}

.socials-item i {
  display: inline-block;
  font-weight: normal;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-size: 16px;
  text-align: center;
  vertical-align: top;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
}

.facebook {
  color: #4e64b5;
}

.twitter {
  color: #00aced;
}
.instagram {
  color: #9a8f62;
}
.youtube {
  color: #c82929;
}

.telegram {
  color: #2ca5e0;
}


a.socials-item:hover {
  box-shadow: 0 0px 20px rgba(84, 1, 74, 0.7);
  border-color: rgba(255, 6, 224, 0.61);
  background: linear-gradient(to right, rgba(255, 9, 9, 0.12941176470588237), #c000ffb5, rgba(255, 0, 94, 0.14));
}

.footer-bottom a:hover {
  color: white;
}




@media only screen and (min-width: 1280px) {

  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .footer .col-image a img{
    display: block;
     margin: 0 auto;
  }  
  .footer .contain .contain-items {
    display: flex;
    margin-top: 25px;
    text-align: center;
}
  .footer .contain .contain-display {
  
    display: block;
    justify-content: center;
    align-items: center;
}
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 915px) {
  .footer .contain .contain-items {
    display: block;
    margin-top: 25px;
    text-align: center;
}
  .footer .col {
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 10px 10px 10px;

  }
  .footer .col h1 {
    font-size: 15px;
  }
  .footer .col ul li a{
    font-size: 10px;
    
  }
  .footer .col3 {
    float: none;
    
}
  .footer_idea{
    display: block;
   
  }
  .footer .col h1{
    font-size: 20px;
  }
  .footer .col ul li a{
    text-align: center;
    font-size: 18px;
  }
  .copyright p{
    margin-top: 18px;
    font-size: 15px;
  }
  

.footer .col2 ul {
   text-align: center;
    display: block;
}
}
@media only screen and (max-width: 500px) {

  
  .footer .contain .contain-items {
    display: block;
    text-align: center;
}
.footer_idea{
  padding-top: 300px;
  margin-bottom: 50px;
}
.footer .col2 {
 text-align: center;
 display: block;
}
   
  
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

/* page about */

.about_title h3{
  padding: 30px;
  color: #fff;
  font-weight: 800;
  text-transform: capitalize;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/Rectangle\ 14.png);
  background-position: center;
  background-size: cover;
  margin: 0;
}
.about_title h3::after{
  content:'';
  background: #DC9A00;
  display:block;
  height:3px;
  width:6%;
}

.about_us_contents .about_us_img img{
  height: auto;
  width: 400px;
  max-width: 100%;
}
  
.about_us_contents .about_us_text{
    max-width:69%;
    padding: 0 5px;
    /* transition: justify; */
}
  
.about_us_contents{
    margin: 20px;
  display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.about_us_contents .about_us_text h5{
    color: #000;
    margin-top: 25px;
    font-size: 27px;
    font-weight: 700;
    padding: 0 0 0 15px ;
    text-transform: capitalize;
    letter-spacing: 1px;
  
}
.about_us_contents .about_us_text p{
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
  /* text-align: justify; */
}
  
  
@media screen and (max-width:  1180px){
  .about_us{
    padding-top: 20px;
  }
    .about_us_contents{
      margin: 0px;
  
    }
    .about_us_contents .about_us_text h5{
    /* padding-left: 10px; */
    font-size: 20px; 
    font-weight: 500;   
    
  }
  .about_us_contents .about_us_img img{
    width: 300px;
  }
    
  .about_us_contents .about_us_text{
      max-width:100%;
      padding: 0 5px;
  }
    
}

/* Testimonies page */
.topic_content h4{
text-align: center;
color: #29465B;
font-weight: 700;
}
.topic_content h4::after{
  content:'';
 align-items: center;
 justify-content: center;
  background:linear-gradient(20deg, rgba(255,255,255,1) 20%, rgba(233,190,91,1) 32%, rgba(220,154,0,1) 67%, rgba(255,255,255,1) 80%);
  display:block;
  height:1px;
  margin: auto;
  width:100%;
}
.topic_content{
  margin: 40px 0 50px 0;
}
.testimonies{
  margin-top: 10px;
  margin: 25px 20px 20px 20px ;
} 

.Testimonies-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.Testimonies-content .left_side_bar{
  background-color: #29465B;
  max-width: 30%;
  padding: 20px;
  height: 180px;;
}
.Testimonies-content .left_side_bar h3{
 color: #fff;
 font-weight: 500;
}
.Testimonies-content .left_side_bar h3::after{
  content:'';
 align-items: center;
 justify-content: center;
  background: #DC9A00;
  display:block;
  height:2px;
  width:24%;
}
.Testimonies-content .left_side_bar p{
 margin: 0; 
 color: #fff;
}
.Testimonies-content .left_side_bar p span{

  color: #DC9A00;
 
 }
.right_side_bar{
  max-width: 100%;
  margin-left: 20px;
}
.right_side_bar .right_side_title h3{
 color: #29465B;
 font-weight: 500;
 margin-top: 0;
}
.right_side_bar .right_side_title h3::after{
  content:'';
 align-items: center;
 justify-content: center;
  background: #DC9A00;
  display:block;
  height:2px;
  width:10%;
 }
 

 
.right_side_bar .form input,
 textarea{
  display: block;
  width: 600px;
  padding: 10px;
  margin-bottom: 15px;
  outline: 2;
  border: 1px solid #29465B;
}
.form{
   margin: auto;
}
.right_side_bar .form button{
   padding: 20px;
   width: 100px;
   height: 20px;
   margin-top: 10px;
   margin-left: 60px;
   background: #d2a619;
   border-radius: 10%;
   outline: 0;
   cursor: pointer;
   font-size: bold;
   color: white;
   line-height: 2px;
}

.right_side_bar .form button:hover{
background: #8e7c43;
}

.right_side_bar .form p{
   color: red;
   margin-left: 264px;
   margin-top: -34px;
   width: 123px;
   height: 37px;
}

 
@media screen and (max-width:  1180px){
  .Testimonies-content .left_side_bar{
  max-width: 90%;
  }
  .right_side_bar .form input,
 textarea{
  width: -webkit-fill-available;
}
.right_side_bar {
  justify-content: center;
    padding: 15px;
    margin: 0;
}
.testimonies {
    margin:0;
}
.right_side_bar .form p{
  margin-left: 25px;
}

}


/* testimony area on the home page */
.testimony-area {
	margin: 20px 5px;
	color: #fff;
	display: flex;
	align-items: center;
}
.testimony-area .slider {
	width: 100%;
}
.testimony-area .slider input {
	display: none;
}
.testimonials {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 350px;
	perspective: 1000px;
	overflow: hidden;
}
.testimonials .item {
	top: 0;
	position: absolute;
	box-sizing: border-box;
	background-color: #29465B;
	padding: 30px;
	width: 450px;
	text-align: center;
	transition: transform 0.4s;
	-webkit-transform-style: preserve-3d;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	user-select: none;
	cursor: pointer;
}
.testimonials .item img {
	width: 100px;
	border-radius: 50%;
	border: 13px solid #3B344D;
}
.testimonials .item p {
	color: #ddd;
  font: 17px;
}
.testimonials .item h2 {
	font-size: 14px;
  font-size: 20px;
}
.dots {
	display: flex;
	justify-content: center;
	align-items: center;
}
.dots label {
	display: block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 7px;
	transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
	transform: scale(2);
	background-color: #000;
}
#t-1:checked ~ .dots label[for="t-2"] {
	transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-1"] {
	z-index: 4;
}
#t-1:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 3;
}
#t-1:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
	z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
	z-index: 1;
}
#t-1:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
	transform: scale(1.5);
}
#t-2:checked ~ .dots label[for="t-2"] {
	transform: scale(2);
	background-color: #000;
}
#t-2:checked ~ .dots label[for="t-3"] {
	transform: scale(1.5);
}
#t-2:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-2:checked ~ .testimonials label[for="t-2"] {
	z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 2;
}
#t-2:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
	z-index: 1;
}
#t-2:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
	transform: scale(1.5);
}
#t-3:checked ~ .dots label[for="t-3"] {
	transform: scale(2);
	background-color: #000;
}
#t-3:checked ~ .dots label[for="t-4"] {
	transform: scale(1.5);
}
#t-3:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-3:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-3:checked ~ .testimonials label[for="t-3"] {
	z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
	z-index: 2;
}
#t-3:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
	transform: scale(1.5);
}
#t-4:checked ~ .dots label[for="t-4"] {
	transform: scale(2);
	background-color: #000;
}
#t-4:checked ~ .dots label[for="t-5"] {
	transform: scale(1.5);
}
#t-4:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}
#t-4:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-4:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
	z-index: 2;
}
#t-4:checked ~ .testimonials label[for="t-4"] {
	z-index: 3;
}
#t-4:checked ~ .testimonials label[for="t-5"] {
	transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
}

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
	transform: scale(1.5);
}
#t-5:checked ~ .dots label[for="t-5"] {
	transform: scale(2);
	background-color: #000;
}
#t-5:checked ~ .testimonials label[for="t-1"] {
	transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
}
#t-5:checked ~ .testimonials label[for="t-2"] {
	transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
	z-index: 1;
}
#t-5:checked ~ .testimonials label[for="t-3"] {
	transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
	z-index: 2;
}
#t-5:checked ~ .testimonials label[for="t-4"] {
	transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
	z-index: 3;
}
#t-5:checked ~ .testimonials label[for="t-5"] {
	z-index: 4;
}



/* contact */

.contact_title p{
  text-align: center;
  color: #000;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 800;
}
.contact_title p::after{
  content:'';
 align-items: center;
 justify-content: center;
  background: #DC9A00;
  display:block;
  height:4px;
  width:7%;
  margin: auto;
}

.section2 .wrapper2 {
  margin: 0 auto;
  width: 96%;
  max-width: 1120px;
}

.section2 {
  padding: 60px 0;
}

.section2 .box2 {
  display: flex;
  flex: 1 0 100%;
  margin-bottom: 20px;
  
  background: #fff;
  justify-content: center;
}
.section2 .box__grid2 {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section2 .box__title2 {
  color: #074e8c;
  font-size: 20px;
}
.section2 .box__content2 p{
  font-size: 18px;
}
.section2 .box__content2 {
  color: #000;
  text-align: center;
  padding: 20px;
}
.section2 .box__content2 > img {
  color: #3b3b58;
  height: 50px;
}

@media only screen and (min-width: 43.75em) {
  .section2 .box2 {
    flex: 0 0 30%;
  }
}

/* donate */
.donate-flex{
  display: flex;
  justify-content: space-around;
}
.donate_title{
  background-image:linear-gradient(rgba(99, 11, 240, 0.7),rgba(0,0,0,0.7)),url(images/image\ 24.png);
  height: 65vh;
  padding: 20px;
}
.donate_title p{
  padding: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  font-size: 34px;
  top: 40%;
  left: 20%;
  transform: translate(-10%, -40%);
  color: #fff;
  font-weight: 500;
}
.donate_title p span{
  color: #DC9A00;
}
 
@media screen and (max-width:  1180px){
  .donate_title{
   height: 50vh;
  }
  .donate_title p{
    font-size: 18px;
    margin: 0 auto;
    /* padding: 10px; */
    top: 30%;
    left: 15%;
  }
  .donate_title p span{
    margin-top: 20px;
    
  }
  .donate-flex{
    display: block;
  }
}
 .donate{
  padding: 30px;
 }
.donate h1{
  color: #000;
  text-align: center;
  font-weight: 400;
}
.donate h3{
  color: #000;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.donate h3::after{
  content:'';
  align-items: center;
  justify-content: center;
   background:linear-gradient(20deg, rgba(255,255,255,1) 20%, rgb(184, 179, 170) 32%, rgb(155, 151, 141) 67%, rgba(255,255,255,1) 80%);
   display:block;
   height:1px;
   margin: auto;
   width:100%;
}
.donate_account h2{
  text-align: center;
  color: #000;
  margin: 0;
}
.donate_account p{
  margin: 0;
  text-align: center;
 
}
.donate_account{
  display: block;
}
.doinate-details{
  margin:  15px 20px;
}
.donate_account img{
  height: 100px;
}
.donate_account .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
/* gallery-show */
.gallery_show .show-name h2{
color: #000;
text-align: center;
font-weight: 700;
font-size: 30px;
}
.gallery_show .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.gallery_show .column a img:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.gallery_show .row .column h4{
 color: #000026;
 text-align: center;
 margin: 5px;
}

/* Clear floats after image containers */
.gallery_show .row::after {
  content: "";
  clear: both;
  display: flex;
  flex-wrap: nowrap;
}

/* events pages */

.features-image img {
 
  width: 92%;
  height: 50%;
  display: block;
}

#features {
  padding: 2rem 0;
}
@media (min-width: 600px) {
  #features {
    padding: 5rem;
  }
}

.features-group {

  margin-bottom: 4rem;
}
@media (min-width: 1200px) {
  .features-group {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr);
    margin-bottom: 8rem; */
  }
}
.features-group:last-child {
  margin-bottom: 0;
}

.features-image img {
  margin: 0 1.5rem;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 3rem;
}
@media (min-width: 1200px) {
  .features-image {
    /* grid-row: 1;
    grid-column: 1/3;
    transform: scale(1.2); */
    margin: 0 2rem;
    align-self: center;
  }
  /* .features-image.inverted {
    grid-column: 3/span 2;
  } */
}

.features-text {
  padding: 1.3rem;
}
.features-text h1,
.features-text p {
  font-family: 'Barlow Condensed', sans-serif;
  color: #444;
}
.features-text h1 {
  font-size:2.5rem ;
  font-weight: 700;
}


.features-text h4 {
  font-family: 'Barlow Condensed', sans-serif;
  color: #444;
  font-size: 1.3rem;
  font-weight: 400;margin: 0;
  border-bottom: 1px solid #444;
}

.features-text p {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .features-text {
    grid-column: 3/span 2;
    grid-row: 1;
    /* padding: 3rem 3rem 3rem 6rem; */
    place-self: center;
  }
  .features-text.inverted {
    grid-column: 1/span 2;
    padding: 3rem 6rem 3rem 3rem;
  }
  .features-text h1 {
    font-size:3.2rem ;
   
  }


  .features-text h4 {
    font-size: 1.9rem;
  }
  
  .features-text p {
  font-size: 2.4rem;
  }
}

/* editor page */

.banner{
  width: 100%;
  height: 400px;
  position: relative;
  background: #e7e7e7;
  background-size: cover;
  background-position: center;
}

.upload-images-btn{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-images-btn img{
  width: 20px;
}

.blogarea{
  width: 70vw;
  min-width: 400px;
  height: 100px;
  display: block;
  margin: auto;
  padding: 50px 0;
}

textarea::-webkit-scrollbar{
  width: 10px;
}

textarea::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.title,
.article{
  width: 100%;
  min-height: 100px;
  height: auto;
  outline: none;
  font-size: 50px;
  font-weight: 600;
  color: #2d2d2d;
  resize: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.title::placeholder,
.article::placeholder{
  color: #2d2d2d;
}

.article{
  height: 500px;
  font-size: 20px;
  margin-top: 20px;
  line-height: 30px;
  font-weight: 500;
  padding-bottom: 100px;
  white-space: pre-wrap;
}

.blog-options{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-options .btn{
  padding: 8px;
  color: #fff;
  background: #000;
  border-radius: 0.9rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.blog-options .btn.grey{
  background: #a5a5a5;
  color: #fff;
  padding: 5px;
  margin-left: 20px;
  font-size: 14px;
}